<form action="/foodtruck/create" method="post">

<input type="text" name="name" value="Truck"><br>
<input type="text" name="handle" value="Twitter"><br>

<select name ="location_id">
  <% @locations.each do |location| %>
    <option value="<%= location.id %>"><%= location.name %></option>
  <% end %>
</select><br>

<select name ="foodtype_id">
  <% @foodtypes.each do |foodtype| %>
    <option value="<%= foodtype.id %>"><%= foodtype.name %></option>
  <% end %>
</select><br><br>

<button class="btn btn-primary">Submit</button>

</form>